/* Carga de tipografía .ttf alusiva a Señor de los anillos con licencia de uso personal gratuito */
@font-face{
  font-family: LoTRFont;
  src: url('aniron-font/Aniron-7BaP.ttf');
}
@font-face{
  font-family: LoTRFont;
  font-weight: bold;
  src: url('aniron-font/AnironBold-mL9P.ttf');
}

/* Estilos generales para todo el contenido de la pagina*/
*{
  box-sizing: border-box;
  font-family: LoTRFont;
}

/* Estilo general para todo el contenido de body*/
body{
  height: 100%;
  max-height: 100%;
  margin:  0;
  padding: 0;
  border:  0;

  overflow-y: visible;
}

/* Estilo aplicado a la caja que contiene a todo el contenido*/
.wrapper{
  height: 100%;
  max-height: 100%;

  margin:  0;
  padding: 0;
  border:  0;
}
/*
================================================================
              Cabecera
================================================================
*/
/* Estilo para la cabecera y sus componentes*/
header{
  /* Fijado de la cabecera al inicio de la pagina*/
  width: 100%;
  max-height: 25%;
  min-height: 25%;
  top:0;
  position:fixed;

  margin: 0;
  border: 0; 
  padding: 1em 5em;

  z-index:100;
  overflow-y: hidden;
  align-items: center;
  color:white;

  background-color: rgba(4, 4, 159, 0.671);
  background-image: url('images/title.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Esconder los elementos exclusivos para la version de smartphone. */
.hamburger, .hamburger-menu, .toggle-hamburger, .sm_title{
  display: none
}
/* Estilo del titulo de la pagina. */
.title{
  display: block;
  margin: auto;
  min-width: 30%;
  max-width: 70%;
  top: 0;
  max-height: 50%;
  overflow-y: hidden;

  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: rgb(255, 242, 0);
  -webkit-text-stroke: 0.05rem rgb(207, 131, 8); /* Bordes de la letra estilizados*/

  border-color: rgba(255, 255, 255, 0);
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.3em;

  transition: all 0.1s ease-in-out;
}
/* Interacción al presionar sobre el titulo de la pagina */
.title:hover{
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.648);
  border-color: rgba(255, 255, 255, 0.991);
}

/* Estilo para el menu de navegación. */
.nav-menu{
  width: 100%;
  max-height: 50%;
  margin: 0;
  padding: 0;
  bottom: 0;

  list-style-type: none;
  background-color: none;

  overflow: hidden;
}
/* Estilo para cada elemento del menu de navegación. */
.nav-menu > li{
  float: left;
  display: inline;
  justify-content: flex-start;
}
/* Estilo del texto de cada elemento del menu de navegación. */
.nav-tab{
  display: block;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.3em 0.875em;
  text-decoration: none;
  transition: all 0.1s ease-in-out;

  border-color: rgba(255, 255, 255, 0);
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.3em;
}
/* Interacción al presionar cualquier elemento del menu de navegación. */
.nav-tab:hover{
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  color: rgb(255, 242, 0);
  border-color: white;
  background-color: rgba(0, 0, 0, 0.648);
}
/* Estilo de la pestaña actual en el menu de navegación. */
.nav-tab-selected{
  color: rgb(255, 242, 0);
  border-color: white;
  background-color: rgba(0, 0, 0, 0.648);
}
/*
================================================================
              Contenido
================================================================
*/

/* Estilo de la caja que contiene los contenidos de la pagina. */
main{
  width: 100%;
  max-height: 60%;
  min-height: 60%;
  margin: 0;
  border: 0;
  padding: 3em 5em;
  top: 25%;
  bottom: 15%;
  position:fixed;

  overflow-y: scroll;
  overscroll-behavior-y: auto;

  background-image: url('images/background.jpg');
  background-color: rgba(8, 8, 91, 0.567);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
}

/* Estilo de las imágenes integradas en el contenido*/
.in-text-image{
  width: 70%;
  border: 10px;
  border-radius: 10px;

  /*Centrado de la imagen*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Opción adicional para imágenes con fondo transparente */
.in-text-image-background{
  background-color: white;
}

/* Estilo para las cajas de texto*/
.text{
  background-color: rgba(41, 55, 110, 0.712);
  border-radius: 10px;
  padding: 20px;
}
/*Estilo para video de YouTube*/
.video-container{
  margin: 0% 5%;

  width: 90%;

  height: 0;
  padding-bottom: 50.62%;
  position: relative;
}
.video{
  /*Centrado del video*/
  position: absolute;
  width: 100%;
  height: 100%;
}
/* Estilo para los títulos*/
h1{
  color: rgb(255, 242, 0);
}
h2{
  color: rgb(255, 242, 0);
}
/* Estilo para los hipervínculos en todo en toda la pagina. */
.hyperlinks{
  color: rgb(255, 242, 0);
}
/* Estilo para los hipervínculos internos. */
.internal-links{
  color: white;
}
/*Estilos de tablas. */
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/*
================================================================
              Mapa interactivo
================================================================
*/
/* Estilo para el mapa interactivo (imagen svg con iconos con id especifico) */
.interactive-map {

  z-index: 100;
  width: 90%;
  border: 10px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/* Estilo para la caja de descripción de cada item del mapa interactivo */
.interactive-map-descriptor {
  width: 90%;
  margin: auto;
  display: block;
  background-color: rgba(41, 55, 110, 0.712);
  border-radius: 10px;
  padding: 20px;
  /* Esconder la caja de descripción de forma predeterminada */
  display: none;
}

/*  Estilo para la imagen dentro de la caja de descripción de cada item del mapa interactivo */
.interactive_map_image {
  width: 50%;
  height: 50%;
  border: 10px;
  border-radius: 10px;
  /*Centrado de la imagen*/
  display: block;
  margin-left: auto;
  /* margin-right: auto; */
  margin-right: 2rem;
  float: left;
}


/* Clase axilar para la alineación de los elementos en la caja de descripción */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/*
================================================================
              Pie de pagina
================================================================
*/
/* Estilo de la caja que contiene el pie de pagina. */
footer{
  width:100%;
  max-height: 15%;
  min-height: 15%;
  margin: 0;
  border: 1em;
  padding: 0.8em 5em;

  position:fixed;
  bottom:0;
  z-index:100;
  overflow-y: hidden;

  background-color: rgba(4, 4, 159, 0.671);
  background-image: url('images/title.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Estilo del texto contenido en el pie de pagina. */
footer > div{
  bottom: 15%;
  max-height: 70%;
  min-height: 70%;
  padding: 0.5em;

  color:white;
  border-color: white;
  border-width: 0.1em;
  border-style: solid;
}

/*
================================================================
            Ajustes para Tablet
================================================================
*/

@media only screen and (max-width: 1024px) {
  /*Esconder el titulo y la linea separadora*/
  .title{
    display: none;
  }
  header > hr{
    display: none;
  }
  /*Disminuir el tamaño de la cabecera*/
  header{
    max-height: 18%;
    min-height: 18%;
  }
  main{
    top: 18%;
    max-height: 72%;
    max-height: 72%;
  }
  video{
    width:50%;
    height: auto;
  }
}
/*
================================================================
          Ajustes para Smartphone
================================================================
*/
@media only screen and (max-width: 640px){

  /* Estilo para las cajas de texto*/
  .text{
    line-height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: none;
    padding: 2px;
  }
  /* Reajuste de margenes internos*/
  header, main, footer{
    padding: 1em 1.5em;
  }
  /* Reajuste de tamaño de cabecera, contenido y pie de pagina*/
  header{
    max-height: 10%;
    min-height: 10%;
  }
  main{
    top: 10%;
    max-height: 80%;
    min-height: 80%;
    bottom: 10%;

  }
  footer{
    max-height: 10%;
    min-height: 10%;
    top: 90%;
    font-size: 0.7rem;
  }
  /*Esconder la barra de navegación*/
  .nav-menu{
    display: none;
  }

  /* Ajustar los nuevos elementos de la cabecera. */
  header{
    display: flex;
    align-items: auto;
    overflow: visible;

  }

  /* Mostrar el menu desplegable. */
  .hamburger{
    display: block;
  }
  .hamburger > .ham-icon{
    max-width: 3em;
    cursor: pointer;
  }
  .toggle-hamburger{
    opacity: 1
  }

  /* Mostrar el titulo de la pestaña. */
  .sm_title{
    display: block;
    margin: auto;
    min-width: 30%;
    max-width: 50%;
    top: 0;
    overflow-y: hidden;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(255, 242, 0);
  }

  /* Configuración del menu de hamburguesa. */
  .navigator{
    height: 300vh;
    width:  220px;
    position:absolute;
    left: 0;
    top: 10vh;
    margin: 0;
    padding: 0;
    bottom: 10vh;
    overflow: visible;
    z-index: 400;
  }
  .nav-menu{
    margin: 0;
    padding: 0.5em;
    padding-top: 3em;
    height: 80%;

    align-items: center;
    background-color: rgba(4, 4, 159, 0.671);
    background-image: url('images/title.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;

    list-style-type: none;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-decoration: none;
    z-index: 400;
  }

  /* Activación y desactivación de menu de hamburguesa. */
  .toggle-hamburger:checked ~ .navigator>.nav-menu{
    display: inline-block;
    transition: 1s;
  }

  /* Ajustes responsivos para la caja de descripción del mapa interactivo */
  .interactive-map-descriptor {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    text-align: justify;
  }

  /*  Incremento del tamaño de la imagen */
  .interactive_map_image {
    width: 100%;
    margin-bottom: 2rem;
    float: none;
  }

  /* Modificar la alineación de los elementos */
  .clearfix::after {
    display: block;
  }
}